h1{
    text-align:center;
    border: 2px solid #FFFDD0;
    border-radius: 25px;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 35px;
    text-decoration: underline 2px;
    text-decoration-color: white;
    text-underline-offset: 10px;
}
* {
    font-family: 'garamond';
}
body{
    background: #ba4073;
}
button{
    height: 100px;
    width: 290px;
    font-size: 26px;
    background:radial-gradient(ellipse,white 30%, #FFFDD0 40%, #ba4073 60%);
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}