h1{
    text-align:center;
    border: 2px solid #FFFDD0;
    border-radius: 25px;
    font-size: 100px;
    font-family: cursive;
}
h2{
    text-align: center;
    font-size: 35px;
    text-decoration: underline 2px;
    text-decoration-color: white;
    text-underline-offset: 10px;
}
* {
    font-family: 'garamond';
}
body{
    background: #ba4073;
}
button{
    height: 100px;
    width: 290px;
    font-size: 26px;
    background:radial-gradient(ellipse,white 30%, #FFFDD0 40%, #ba4073 60%);
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
table{
    background-color: #f1a3b0;
    border: solid 2pt #FFFDD0;
    text-align: center;
    margin: 0 auto;
}
th{
    background-color: white;
}
td{
    padding-right: 30px;
    border: solid 2pt #FFFDD0;
}
tbody tr:hover{
    background-color: lightgray;
}