h1{
    text-align:center;
    font-size: 100px;
    font-family: cursive;
}
h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline 2px;
    text-decoration-color: white;
    text-underline-offset: 10px;
}
* {
    font-family: 'garamond';
}
body{
    background: #ba4073;
}
button{
    height: 100px;
    width: 290px;
    font-size: 26px;
    background:radial-gradient(ellipse,white 30%, #FFFDD0 40%, #ba4073 60%);
    border: none;
    cursor: pointer;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
table{
    background-color: #f1a3b0;
    border: solid 2pt #FFFDD0;
    text-align: center;
    margin: 0 auto;
}
th{
    background-color: white;
}
td{
    padding-right: 30px;
    border: solid 2pt #FFFDD0;
}
tbody tr:hover{
    background-color: lightgray;
}
form {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
fieldset {
    margin-bottom: 20px;
    padding: 15px;
}
input{
    background-color: #f1a3b0;
}
select{
    background-color: #f1a3b0;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #FFFDD0;
    border-radius: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: end;
}

.grid-item:nth-child(1) {
  height: 150px;
}
.grid-item:nth-child(2) {
  height: 250px;
}
.grid-item:nth-child(3) {
  height: 200px;
}
.grid-item img {
  display: block;
  margin: 0 auto;
}
.grid-item h3 {
  text-align: center;
}
